.card-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;


    .card__image {
    width: 100%;
    height: fit-content;
    }

    .card--footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 12px 10px 14px 10px;  
    border-bottom: 1px solid #d9d9d9;

        .card__artist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #BB9613;
        width: auto;
        align-items: center;
        padding: .4rem .8rem;
        border: 1px solid #BB9613;
        border-radius: 2px;
    

            img {
            width: 22px;
            background-color: #D9D9D9;
            align-items: center;
            border-radius: 2px;
            }
        }

        .cards__utility{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 5px;

            .utility-button{
                padding: .4rem .8rem;
            }
        }
    } /* End of card--footer */
}


