.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    top: 0px;
    padding-top:20px;
    padding-left: 20px;
    padding-bottom:5px;
    width:100%;
    // border-bottom: 1px solid grey;    
    margin:0;

    .foto__logo h1 {
        font-family: 'Gill Sans', 'Inter', sans-serif;
        font-style: normal;
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 2.8rem;
        text-align: left;
    }
}