.header{
    background-color: whitesmoke;
    top: 0px;
    width:100%;
    border-bottom: 1px solid grey;    
    padding:20px;

    .foto__logo h1{
        font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 37.1021px;
        text-align: left;
    }
}