

.nav-menu{
 position: fixed;
 background-color: whitesmoke;
 bottom: 0px;
 width: 100%;
 border-top: 1px solid grey;

 ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;


  li{
  list-style: none;
  width: 100%;
  padding: 20px;
  

  .nav-button{
  text-decoration: none;
  text-align: center;

  }
  
  }
 
 
 }

}