// Aimee has started this page off to keep the styles consistant throughout

.search-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px; 
    margin:0 auto;
    height: 100vh;
    // padding: 20px;
    background-color: #F0F0F0;


    .search-header {
        display: flex;
        flex-direction: column;
        width: 340px;
        height: fit-content;
        padding: 20px;
        background-color: #7C7C7C;


    .search-form{
        display: flex;
        justify-content: space-between;
    

        .search-input{
        border: 1px solid black;
        padding: 10px;
        width: 100%;
        margin-right: 10px;
        font-size: 14px;
        }

        .primary-button{
        display: flex;
        background-color: black;
        color: #F0F0F0;
        text-decoration: solid;
        padding: 10px 16px;
        border-radius: 2px;
        
        }
     }
    }

    .search--display {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: auto;
        padding:15px;
        margin:15px;
        background-color: #D8D8D8;
    }
}