// Aimee has started this page off to keep the styles consistant throughout



.header-img{
height: 383px;
width: 770px;
}

.photo-container-middle{
display: flex;
justify-content: space-between;
align-items: center;  
gap: 10px;
padding-bottom: 30px;
width: 770px;
}

.middle-img{
height: 236px;
width: 378px;  
}

.bottom-img{
height: 330px;
width: 771px;  
}

.search-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px; 
    margin:0 auto;
    height: 100vh;
    // padding: 20px;
    background-color: #F0F0F0;


    .search-header {
        display: flex;
        flex-direction: column;
        width: 340px;
        height: fit-content;
        padding: 20px;
        background-color: #7C7C7C;
    }

    .search--display {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: auto;
        padding:15px;
        margin:15px;
        background-color: #D8D8D8;
    }
}
