.headertext{
  font-size: 13px;  
  }
  
  
  .postContainer{

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    }


    .labeltext{
    font-size: 15px;  
    }
  

  .inputandbuttoncontainer{
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr; 
   gap: 5px;
  }
  

  .input-name__frist{
   width: 335px; 
   border: 1px solid black;
  }

  .input-name__last{
    width: 335px; 
   }

  .portfolioimageinputs{
 
  display: grid;
  grid-template-columns: rows;
  gap: 4px;
  }
  
  .input-portfolio__url{
  width: 100%;  
  }
  
  .input-img__url{
    width: 100%; 
  }
  



  
  .buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;

  padding-left: 159px;
  }
  
  .ImageExample{
   height: 230px;
   width: 250px; 
  }
  
  .primary-button{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 2px;
    height: 50px;
    width: 90px;
    
  }



