// Check css mark up from Edit Post Page – should be simular 

.upload-post-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px; 
  margin:0 auto;
  height: 100vh;
  background-color: #F0F0F0;

  .form-create-post {
     display: flex;
     flex-direction: column;
     width: 320px;
     height: fit-content;
     padding: 15px;
     margin-top:15px;
     background-color: #D8D8D8;

    h3{
      padding-bottom: 2px;
      text-transform: uppercase;
    }
  }
}

// INPUT CSS

.input-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.image-preview {
  max-width: fit-content;
  padding-bottom: 5px;
}

.submit-button {
  width: 40%;
  align-self: flex-end;
}

